@theme-color : #39ff8b;
@accent-color-light : rgb(70, 72, 73);
@accent-color-dark : #fff;
@yellow : rgb(255, 252, 81);
@red : rgb(255, 71, 58);
@green : rgb(96, 255, 117);
@blue : rgb(34, 146, 238);
@grey : rgb(86, 110, 122);
@icon_color:"";
@icon_size : 25;
@px :px;

.title{
    color : @accent-color-dark;
    font-size : 2em;
    font-family : Courier New, Courier, monospace;
}

@font-face{
    font-family : 'muli';
    src: url('../../fonts/Muli-Regular.ttf');
    font-weight : normal;
}

@font-face{
    font-family : 'muli';
    src : url('../../fonts/Muli-Italic.ttf');
    font-style : italic;
}

@font-face{
    font-family : 'muli';
    src : url('../../fonts/Muli-Light.ttf');
    font-weight : lighter;
}

@font-face{
    font-family : 'muli';
    src : url('../../fonts/Muli-Bold.ttf');
    font-weight : bold;
}

.flexy(){
    display : flex;
    flex-direction: column;
    justify-content: center;    
    text-align: center;
}

html,body{
    width : 100%;
    height: 100%;
    .flexy();
    margin : 0px;
    padding : 0px;
    color:@accent-color-dark;
    background-color: @theme-color;
    font-family : 'muli',Courier New, Courier, monospace;
}

*{
    box-sizing: border-box;
}

.icon_clr(@shade) when(@shade = 'dark'){
    @icon_color : white;
}

.icon_clr(@shade) when(@shade = 'bright'){
    @icon_color : black;
}

.material-design(){
    padding : 10px;
    border-radius : 200px;
    box-shadow : 0px 0px 4px @grey;
    border:none;
}

.material-icon(@shade,@icon,@size){
    .icon_clr(@shade);
    @icon_size : @size@px;
    @icon_url : replace(%('../../icons/ic_%a_%s_%d.svg',@icon,@icon_color,@icon_size)," ","");
    background : url(@icon_url);
    background-repeat: no-repeat;
    .material-design;
}

#close{
    .material-icon('dark',close,24);
    position: relative;
    left: 0px;
    margin: 0px;
    width:10px;
    padding:20px;
    background-size:contain;   
    box-shadow:none;
}

#form_toggle{
    .material-icon('dark',add, 36);
    margin:auto;
    padding:20px;
    position:fixed;
    bottom:20px;
    background-size:contain;
}

#closeForm{
    .material-icon('dark',close,36);
    position: relative;
    left: 0px;
    width: 10px;
    margin: 0px;
    padding:20px;
}

#add_timer{
    .material-icon('dark',alarm_add,36);
    margin: 20px auto;
    width: 20px;
    padding: 20px;
}

.btns{
    .material-design();
    color : #333;
    border : none;
    flex : 1;
    background-size: contain;
}
.btns{
    box-shadow:0px 0px 2px #333;
    transition:0.3s ease;
}

.timers{
    background : @blue;
    box-shadow : 0px 0px 5px #333;
    width : 80%;
    margin : auto;
    .flexy();
}

.time{
    flex : 1;
    border : none;
    padding : 5px;
    background:none;
    font-size:1em;
    color:@accent-color-dark;
    border-bottom : 2px solid @green;
    line-height: 2em;
    width : 100%;
    transition: 0.3s ease;
    outline:none;
    margin:10px auto;
}

.time:focus{
    border-bottom : 2px solid @blue;
    transition:0.3s ease;
}

.heading{
    margin-top:-20px;
}

label{
    font-weight: bold;
    margin : 10px auto;
}

#timerDesc{
    display:flex;
    flex-direction: row;
    margin:20px;
    padding:20px;
}

.tms{
    flex:1;
}

#timerDesc :nth-child(2){
    margin-right:10px;
    margin-left:10px;
}

#form{
    position:fixed;
    top:0px;
    margin:auto;
    z-index:99;
    .flexy();
    padding : 20px;
    background : @grey;
    color:@accent-color-dark;
    border-radius : 0px 0px 5px 5px;
    box-shadow : 2px 3px 5px #666;
}

textarea{
    resize : none;
    border : none;
    box-shadow : 0px 0px 2px #333;
}

#timer_container{
    flex : 1;
    .flexy();
}

.timeDisp{
    .flexy();
    flex-direction : row;
}

.timeD{
    flex :1;
}